<!doctype html>
<title>TV Show Recommender</title>
<link rel=stylesheet type=text/css href="/static/style_ticker.css">
<div class=page>
  <h1>TV Show Description</h1>
  <div class=metanav>

    <h4>
      What are you looking to watch today?
    </h4>

    <form id='tv_show_description' method='post' action='' >
      <label for="sentence_description"> </label>
        <textarea id="sentence_description" name="sentence_description" rows="6" cols="60"></textarea>

      <p>
    <input type='submit' name='action' value='Submit' />
      </p>
      <p>
    <input type='submit' name='action' value='About' />
      </p>
    </form>

  </div>
</div>
</html>